


.container-table{
    
    padding: 2px;
    display: grid;
    width: 100%;

}

.container-head{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    background-color: rgb(58, 57, 57);
    font-size: 14;
}

.container-body{
    padding: 1px;
    color: white;
}

.col{
    padding: 1px;
}

.row{
    align-items: center;
}

