


.container-table{
    padding: 2px;
    display: grid;
    width: 100%;
    margin-left: 35px;
    margin-top: 25px;

}

.container-head{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    background-color: rgb(75, 75, 78);
    font-size: 14;
}

.container-body{
    padding: 1px;
    color: white;
}

.col{
    padding: 1px;
}

.row{
    align-items: center;

}

